.root {
  background-color: #eeeeee;
  padding: 20px;
  border-radius: 5px;
}

.root > div {
  margin-bottom: 20px;
}

.root > div:last-child {
  margin-bottom: 0;
}

.correct {
  font-weight: bold;
  color: seagreen;
}

.incorrect {
  font-weight: bold;
  color: crimson;
}

.image {
  height: 314px;
}

.image img {
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.3);
  background-color: gainsboro;
  border-radius: 12px;
  cursor: pointer;
}
