body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.3);
  background-color: gainsboro;
  border: 1px solid gainsboro;
  border-radius: 5px;
  padding: 3px 7px;
  cursor: pointer;
  font-size: 14px;
}

button:hover {
  background-color: #bbbbbb;
  border: 1px solid #bbbbbb;
}

.flexRow {
  display: flex;
}

.flexRow > div {
  margin-right: 20px;
}

.flexRow > div:last-child {
  margin-right: 0;
}

.flexRowStretch {
  display: flex;
  justify-content: space-between;
}
